.title {
  display: block;
  font-size: 18px;
  font-weight: 600;
}

.highlight {
  overflow-x: auto;
  background-color: #f8f8f8;
  padding: 0.4em;
  line-height: 1.1em;
  border-radius: 2px;
  position: relative;
}

.content h2 {
  padding-bottom: 0.7em;
  border-bottom: 1px solid #ddd;
}

.content div {
  margin-bottom: 30px;
}

.content div:last-child {
  margin-bottom: 0;
}

.code {
  color: #e96900;
  padding: 3px 5px;
  margin: 0 2px;
  border-radius: 2px;
  white-space: nowrap;
}